.portfolio-h1,
.portfolio-h2,
.portfolio-h3,
.portfolio-p,
.Portfolio-link,
.portfolio-li,
.portfolio-ul {
  font-family: "Acme", cursive;
  color: rgb(255, 255, 255);
}

.portfolio-h1,
.portfolio-h2,
.portfolio-h3,
.portfolio-p,
.portfolio-li,
.portfolio-ul {
  text-shadow: 2px 2px #0e0531;
}

.portfolio-h1 {
  font-size: 48px;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.portfolio-h2 {
  font-size: 38px;
}

.portfolio-h3,
a {
  font-size: 22px;
}

.portfolio-p,
.portfolio-li,
.portfolio-ul {
  font-size: 18px;
}

img {
  width: 80%;
}

.ico {
  width: 4rem;
}

.Portfolio {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.Portfolio main {
  display: flex;
  margin: 0 5%;
}

main article {
  padding: 20px;
}

.project-link {
  margin: auto;
  font-size: 18px;
  margin-top: -10px;
}

.InfoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: 0 2vw 0 1vw;
  flex-wrap: wrap;
}

.introbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: 0 0 0 2vw;
}

article section, .welcome-box {
  background-image: linear-gradient(rgba(167, 132, 232, 0.7), rgba(47, 35, 102, 0.7));
  box-shadow: 0px 0px 12px #ceabfa;
  border: 1px solid #d0abfa;
  border-radius: 30px;
  margin: 0 auto;
}

.project-row {
  display: flex;
  margin: 1rem;
  border: 1px solid white;
}

.project-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-title,
.project-link {
  margin: 5px;
}

.project-li {
  font-size: 16px;
}

.project-image {
  margin: 10px;
}

.comment,
.comment p {
  text-align: left;
  background-color: #4e48ce6c;
  border-radius: 15px;
}

.comment {
  margin: 5px;
  padding: 10px;
  border: 1px solid white;
}

.comment p {
  margin: 2px;
  padding: 5px;
}

.comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comment-form {
  text-align: center;
  border: none;
  border-radius: 30px;
  padding: 5px;
  width: 50%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}

.commentform-who {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.commentform-who input, .commentform-who select {
  width: 45%;
  text-align: center;
}

.comment-form textarea {
  width: 100%;
  text-align: center;
}

.comment-form p {
  margin: 0;
  text-decoration: underline;
}

.comment-form button {
  margin: 2px;
}

@media all and (max-width: 786px) {
  .InfoRow {
    flex-direction: column;
    margin: 0 2vw;
  }

  .portfolio-h1 {
    font-size: 32px;
  }

  .portfolio-h2 {
    font-size: 24px;
  }

  .portfolio-h3,
  a {
    font-size: 18px;
  }

  .portfolio-p,
  .portfolio-li,
  .portfolio-ul,
  .project-li {
    font-size: 12px;
  }

  .Portfolio main,
  .project-info {
    flex-direction: column;
  }

  .project-row {
    flex-direction: column-reverse;
  }

  .commentform-who {
    flex-direction: column;
  }

  .commentform-who input {
    width: 80%;
  }
}
