/* Styles for Hue Changer, thanks to Coding In Public's Tutorial */

.huePickerBox {
  position: fixed;
  bottom: 0;
  left: 0;
  --wrapperSize: clamp(4em, 3vmax, 7em);
  padding: 1em 0;
  width: 100%;
  display: grid;
  --_size: 1.5rem;
  place-items: flex-end;
}

.huePickerBar:focus {
  outline: none;
}

.huePickerBar {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  height: calc(var(--wrapperSize) * 0.2);
  width: 100%;
  border: 0.2em solid hsl(var(--muted));
  box-shadow: 0 0 0.8em hsl(var(--acceColor) / 0.4);
  border-radius: 100vmax;
  background: linear-gradient(
    to right,
    hsl(0, 50%, 50%),
    hsl(25, 50%, 50%),
    hsl(50, 50%, 50%),
    hsl(75, 50%, 50%),
    hsl(100, 50%, 50%),
    hsl(125, 50%, 50%),
    hsl(150, 50%, 50%),
    hsl(175, 50%, 50%),
    hsl(200, 50%, 50%),
    hsl(225, 50%, 50%),
    hsl(250, 50%, 50%),
    hsl(275, 50%, 50%),
    hsl(300, 50%, 50%),
    hsl(325, 50%, 50%),
    hsl(350, 50%, 50%)
  );
}

.huePickerBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: calc(var(--wrapperSize) * 0.35);
  width: calc(var(--wrapperSize) * 0.35);
  border: none;
  box-shadow: 0 0 0 0.25em hsl(var(--muted)),
    0 0 0 -0.4em hsl(var(--acceColor) / 0.8);
  border-radius: 100vmax;
  background-color: hsl(var(--acceColor));
  cursor: ew-resize;
}

.huePickerBar:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.25em hsl(var(--muted)),
    0 0 0 0.45em hsl(var(--acceColor) / 0.8);
}

.close {
  position: absolute;
  bottom: 2.5em;
}
