.slideFromLeft {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    animation: from-left 0.8s forwards;
    -webkit-animation: from-left 0.8s forwards;
}

@keyframes from-left {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes from-left {
    100% { -webkit-transform: translateX(0%); }
}

.slideFromRight {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    animation: from-right 0.8s forwards;
    -webkit-animation: from-right 0.8s forwards;
}

@keyframes from-right {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes from-right {
    100% { -webkit-transform: translateX(0%); }
}

.slideFromBottom {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    animation: from-bottom 0.8s forwards;
    -webkit-animation: from-bottom 0.8s forwards;
}

@keyframes from-bottom {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes from-bottom {
    100% { -webkit-transform: translateY(0%); }
}

.slideFromTop {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    animation: from-top 0.8s forwards;
    -webkit-animation: from-top 0.8s forwards;
}

@keyframes from-top {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes from-top {
    100% { -webkit-transform: translateY(0%); }
}


.welcome-box {
    animation: fade-in 0.5s forwards;
    -webkit-animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-webkit-keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
