/* Lines 1 - 42 handle the global theme */
:root {
  --_hue: 263;

  --backLight: var(--_hue) 14% 95%;
  --backLight2: var(--_hue) 50% 98%;
  --textLight: var(--_hue) 40% 5%;
  --acceLight: var(--_hue) 84% 50%;

  --backDark: var(--_hue) 24% 8%;
  --backDark2: var(--_hue) 12% 12%;
  --textDark: var(--_hue) 30% 88%;
  --acceDark: var(--_hue) 84% 50%;
}

:root[color-scheme="dark"] {
  --backColor: var(--backDark);
  --backColor2: var(--backDark2);
  --textColor: var(--textDark);
  --acceColor: var(--acceDark);
}

:root[color-scheme="light"] {
  --backColor: var(--backLight);
  --backColor2: var(--backLight2);
  --textColor: var(--textLight);
  --acceColor: var(--acceLight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --backColor: var(--backDark);
    --backColor2: var(--backDark2);
    --textColor: var(--textDark);
    --acceColor: var(--acceDark);
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --backColor: var(--backLight);
    --backColor2: var(--backLight2);
    --textColor: var(--textLight);
    --acceColor: var(--acceLight);
    color-scheme: light;
  }
}
/* End of global theme */

/* Any styles added below will effect the entire page. */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: hsl(var(--textColor));
  background: hsl(var(--backColor));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: hsl(var(--acceColor));
}

footer {
  text-align: center;
  margin-bottom: 35px;
}

p {
  font-size: 18px;
}

h6 {
  font-size: 22px;
}

h5 {
  font-size: 1.3rem;
}

h4 {
  font-size: 30px;
}

h3 {
  font-size: 34px;
}

h2 {
  font-size: 38px;
}

h1 {
  font-size: 2rem;
}

svg {
  font-size: 50px;
}

a {
  color: hsl(var(--acceColor));
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: hsl(var(--textColor));
}

hr {
  margin: 0 0 8px 0;
  padding: 0;
  border: 1px solid hsl(var(--textColor));
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invisible {
  opacity: 0;
  user-select: none;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  border: none;
  background-color: hsl(var(--acceColor));
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

#topBtn:hover {
  background-color: rgb(156, 156, 156);
}
